version: '3.9'

services:
  app:
    container_name: tekiro-api
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DATABASE_URL: ${DATABASE_URL}
    ports:
      - "3005:3000"
    env_file:
      - .env
    volumes:
      - ./uploads:/usr/src/app/uploads
    restart: unless-stopped